:root {
    --form-control-color: rebeccapurple;
}

#todo-list {
    display: flex;
    flex-direction: column;

    .bottom-section {
        width: 100%;
        position: absolute;
        bottom: -25px;

        .add-new {
            height: 60px;
            width: 60px;
            border-radius: 30px;
            border: 0px;
            background-color: #ffba74;
            bottom: -30px;
            color: white;
            font-weight: bolder;
            font-size: 35px;
        }
    }

    #list {
        height: calc(100% - 80px);
        overflow: auto;
        text-align: left;
        ul {
            padding: 0%;
            float: left;
            width: 100%;

            li {
                list-style: none;
                padding: 5px 0px 5px 0px;
                display: flex;
                justify-content: space-between;
                height: 40px;

                input[type='checkbox'] {
                    margin-right: 5px;
                }
            }

            .task-details {
                label {
                    display: inline-flex;
                    align-items: center;
                }
                button {
                    display: none;
                    color: red;
                    background-color: unset;
                    margin-right: 3px;
                    border: 0px;
                    font-size: 15pt;
                }
                &:hover {
                    button {
                        display: inline-block;
                    }
                }

                .complete {
                    text-decoration: line-through;
                    color: #a39a9a;
                }
            }
        }
    }
}
